*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
#tv{
    margin-top: 10px;

}

iframe{
    border-radius: 20px;
    margin: auto;
    width: 800px;
    height: 500px;
}
#channel{
    font-size: 25px;
}
button,
#youtube{
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    color: black;
}
#youtube{
    width: 200px;
}
a{
    color: black;
}
#active{
    background: green;
    color: white;
}
button:hover{
    color: black;
    background: rgb(101, 178, 214);
}
